<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>eee</display-name>
  <servlet>
    <servlet-name>LoadServlet</servlet-name>
    <servlet-class>web.LoadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadServlet</servlet-name>
    <url-pattern>/loadServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  
  
  <listener>
    <listener-class>com.guwei.utils.listener.OrderListener</listener-class>
  </listener>
  
  
   <filter>
    <filter-name>privilege</filter-name>
    <filter-class>com.guwei.utils.filter.privilege</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>privilege</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>com.guwei.utils.filter.EncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>ImgFilter</filter-name>
    <filter-class>com.guwei.utils.filter.ImgFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ImgFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  
  <error-page>
  	<error-code>404</error-code>
  	<location>/404.jsp</location>
  </error-page>
  <error-page>
  	<error-code>500</error-code>
  	<location>/500.jsp</location>
  </error-page>
  
  <servlet>
    <description></description>
    <display-name>UserServlet</display-name>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>com.guwei.web.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/userServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GoodsServlet</display-name>
    <servlet-name>GoodsServlet</servlet-name>
    <servlet-class>com.guwei.web.GoodsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GoodsServlet</servlet-name>
    <url-pattern>/goodsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CartServlet</display-name>
    <servlet-name>CartServlet</servlet-name>
    <servlet-class>com.guwei.web.CartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartServlet</servlet-name>
    <url-pattern>/cartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoadPCD</display-name>
    <servlet-name>LoadPCD</servlet-name>
    <servlet-class>com.guwei.web.LoadPCDServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadPCD</servlet-name>
    <url-pattern>/loadPCDServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderServlet</display-name>
    <servlet-name>OrderServlet</servlet-name>
    <servlet-class>com.guwei.web.OrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderServlet</servlet-name>
    <url-pattern>/orderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DealServlet</display-name>
    <servlet-name>DealServlet</servlet-name>
    <servlet-class>com.guwei.web.DealServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DealServlet</servlet-name>
    <url-pattern>/dealServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CallBackServlet</display-name>
    <servlet-name>CallBackServlet</servlet-name>
    <servlet-class>com.guwei.web.CallBackServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CallBackServlet</servlet-name>
    <url-pattern>/callBackServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TotalSaleServlet</display-name>
    <servlet-name>TotalSaleServlet</servlet-name>
    <servlet-class>com.guwei.web.TotalSaleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TotalSaleServlet</servlet-name>
    <url-pattern>/totalSaleServlet</url-pattern>
  </servlet-mapping>
</web-app>